//左侧菜单长度
$base-menu-width: 260px;

//左侧菜单背景颜色
$base-menu-background: #001529;
$base-menu-min-width:45px;

//顶部导航的高度
$base-tabbar-height: 70px;

//左侧菜单用户信息高度
$base-menu-userInfo-height: 100px;

//左侧菜单padding
$base-menu-padding: 15px;

//左侧菜单用户名行高
$base-menu-username-lineheight: 55px;


